<div>
  <style type="text/golf">
    .tabs {
      margin: 3em 0 0 0;
      border-bottom: 1px solid #bbb;
    }
    .tabs > ul {
      position: relative;
      float: left;
      width: 100%;
      padding: 0 0 1.75em 1em;
      margin: -1.5em 0 0 0;
      list-style: none;
      line-height: 1em;
    }
    .tabs > ul > li {
      float: left;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
    .tabs > ul > li > span {
      display:block;
      color:#444;
      text-decoration:none;
      font-weight:bold;
      background:#eee;
      margin:0;
      padding:0.25em 1em;
      border-left:1px solid #fff;
      border-right:1px solid #fff;
      border-top:1px solid #fff;
    }
    .tabs > ul > li > span.selected {
      position:relative;
      z-index:102;
      background: white;
      border-top: 1px solid #bbb;
      border-right:1px solid #bbb;
      border-left: 1px solid #bbb;
    }
    .content > div {
      padding: 0 0 0 1em;
    }
  </style>
  <script type="text/golf">
    function() {
      var tabs = this;

      this.add = function(title, content) {
        var tab=$("<span href='#'></span>").text(title), 
            size=$(".tabs > ul > li > span").size(),
            meth=content.jquery||content._dom?"append":"text";

        $(".tabs > ul").append($("<li/>").append(tab));
        $(".content").append($("<div/>")[meth](content).hide());

        tab.click(function(event) {
          return tabs.select(size), false;
        });

        return size == 0 ? this.select(size) : this;
      };

      this.select = function(tabIndex) {
        $(".content > div").hide().eq(tabIndex).show();
        $(".tabs span").removeClass("selected").eq(tabIndex).addClass("selected");
        return this;
      };
    }
  </script>
  <div class="tabs"><ul/></div>
  <div class="content"/>
</div>
