<div>
  <style type="text/golf">
  </style>
  <script type="text/golf">
    function(par, ifrm) {
      var ctrl = new Component.MultiEdit(),
          styl = new Component.MultiEdit(),
          plgn = new Component.MultiEdit(),
          cpnt = new Component.MultiEdit(),
          tabs = (new Component.Tabs())
                    .add("controller", ctrl)
                    .add("styles", styl)
                    .add("plugins", plgn)
                    .add("components", cpnt),
          ctrlEdit = new Component.Edit(),
          i;

      ctrl.add("controller", ctrlEdit);

      var _$ = ifrm.get()[0].contentWindow.$;

      for (i in _$.golf.styles)
        styl.add(i, new Component.Edit(_$.golf.styles[i].css));

      for (i in _$.golf.plugins)
        plgn.add(i, new Component.Edit(_$.golf.plugins[i].js));

      for (i in _$.golf.components) 
        cpnt.add(
          i, 
          new Component.Edit(_$.golf.components[i].orig).apply(
            (function(j) {
              return function(data) { 
                ifrm.get()[0].contentWindow.$.golf.addComponent(data, j);
              };
            })(i)
          )
        );

      if (! $.component.lastController)
        $.get("?path=controller.js", function(data) {
          $.component.lastController = data;
          ctrlEdit.update(data);
        });
      else
        ctrlEdit.update($.component.lastController);

      ctrlEdit.apply(function(data) {
        $.component.lastController = data;
        ifrm.get()[0].contentWindow.$.globalEval(data);
      });

      $(".tabs").append(tabs);
    }
  </script>
  <div class="tabs"/>
</div>
