<div>
  <style type="text/golf">
  </style>
  <script type="text/golf">
    function() {
      var ctrl = new Component.Edit(),
          plgn = new Component.MultiEdit(),
          cpnt = new Component.MultiEdit(),
          tabs = (new Component.Tabs())
                    .add("controller", ctrl)
                    .add("plugins", plgn)
                    .add("components", cpnt),
          i;

      for (i in $.golf.plugins)
        plgn.add(i, new Component.Edit($.golf.plugins[i].js));

      for (i in $.golf.components) 
        cpnt.add(i, new Component.Edit($.golf.components[i].orig).apply(
          (function(j) {
            return function(data) { $.golf.addComponent(data, j) };
          })(i)
        ));

      if (! $.component.lastController)
        $.get("?path=controller.js", function(data) {
          $.component.lastController = data;
          ctrl.update(data);
        });
      else
        ctrl.update($.component.lastController);

      ctrl.apply(function(data) {
        $.component.lastController = data;
        $.globalEval(data);
      });

      $(".tabs").append(tabs);
    }
  </script>
  <div class="tabs"/>
</div>
