<div>
  <style type="text/golf">
    .leftpane {
      border: 1px solid green;
      background: white;
    }
    .rightpane {
      border: 1px solid green;
      background: white;
    }
    .content {
      border: 1px solid #bbb;
      margin-top: 2.15em;
      background: yellowgreen;
    }
    .url {
      color: #999;
      font-family: monospace;
    }
    input[type='text'] {
      border: 1px solid #bbb;
    }
  </style>
  <script type="text/golf">
    function() {
      var main = this;

      var height = $(window).height();
      var width = $(window).width();

      this.resize = function() {
        $("table").height($(window).height()+"px");
        $(".content").height(($(window).height() - 180) + "px");
        console.log("height="+$("tr").get()[0].clientHeight);
      };

      $(".leftpane").append(new Component.Try());
      $(".url").text(servletUrl+"#");
      $("form").submit(function(event) {
        event.preventDefault();
        $.golf.route($("input[name='hash']").val(), $(".content"));
      });
      $("input[name='hash']").val($.golf.controller[0].route);
      $("form").submit();

      $(window).resize(function(event) {
        main.resize();
      });

      this.resize();
    }
  </script>
  <table class="main" cellspacing="10" cellpadding="10" width="100%">
    <tr>
      <td class="leftpane" valign="top" width="50%">
        <h1>Edit</h1>
      </td>
      <td class="rightpane" valign="top" width="50%">
        <h1>Preview</h1>
        <form>
          <span class="url"/><input type="text" name="hash"/>
          <input type="submit" value="go!"/>
        </form>
        <div class="content"/>
      </td>
    </tr>
  </table>
  </div>
</div>
