<div>
  <style type="text/golf">
    .leftpane {
      border: 1px dashed red;
      background: white;
    }
    .rightpane {
      border: 1px dashed green;
      background: white;
    }
    .content {
      border: 1px solid #ddd;
      margin-top: 0.45em;
    }
    .url {
      color: #999;
      font-family: monospace;
    }
  </style>
  <script type="text/golf">
    function() {
      $(".leftpane").append(new Component.Try());
      $(".url").text(servletUrl+"#");
      $("form").submit(function(event) {
        event.preventDefault();
        $.golf.route($("input[name='hash']").val(), $(".content"));
      });
      $("input[name='hash']").val($.golf.controller[0].route);
      $("form").submit();
    }
  </script>
  <table class="main" cellspacing="10" cellpadding="10" width="100%">
    <tr>
      <td class="leftpane" valign="top" width="50%">
        <h3>Edit</h3>
      </td>
      <td class="rightpane" valign="top" width="50%">
        <h3>Preview</h3>
        <form>
          <span class="url"/><input type="text" name="hash"/>
          <input type="submit" value="go!"/>
        </form>
        <div class="content"/>
      </td>
    </tr>
  </table>
  </div>
</div>
