body {
  font-family: sans-serif;
  background: yellowgreen;
  margin: 0;
  padding: 0;
}

textarea {
  font-family: monospace;
  width: 100%;
  height: 30em;
  margin-left: -1em;
  border: 1px solid #bbb;
}
